{% extends "base.html" %}

{% load static %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'blog/css/style.css' %}">
{% endblock %}

 


{% block title%}
Index page
{%endblock%}
 


{% block content %}
     

<section id="banner">
  <div id="black">
      
  </div>
  
  <div id="contents">
      <h1>Uzaktan erişim kolaylığı</h1>
      <hr width=200 align=left>
       <p>
           Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis magni enim pariatur maxime voluptas odit eius beatae. Suscipit aspernatur tempore est debitis facilis atque aliquid quasi iusto? A, adipisci, at?
       </p>
  </div>
  
</section>

<section id="info">
  <div id ="container ">
    <h1> Hakkımızda </h1>
  </div>

</section>
  


 

{% endblock %}